<footer class="fixed flex z-20 bg-white bottom-0 left-0 h-10 w-full border-t border-gray-200 items-center">
    <div class="flex mx-14 w-full text-xs text-gray-600 font-light">
        <span class="mr-4">© 2023 JB™</span>
        <ul class="flex items-center gap-x-4">
            <li class="cursor-default">·</li>
            <li>
                <a href="#" class="hover:underline">Privacy</a>
            </li>
            <li class="cursor-default">·</li>
            <li>
                <a href="#" class="hover:underline">Terms</a>
            </li>
            <li class="cursor-default">·</li>
            <li>
                <a href="#" class="hover:underline">Sitemap</a>
            </li>
            <li class="cursor-default">·</li>
            <li>
                <a href="#" class="hover:underline">Destinations</a>
            </li>
        </ul>

        <div class="flex ml-auto gap-x-4 font-semibold">
            <div><a href="#" class="">G</a></div>
            <div><a href="#" class="hover:underline">English (NZ)</a></div>
            <div><a href="#" class="hover:underline">$ NZD</a></div>
            <div><a href="#" class="hover:underline">Support & Resources ^</a></div>
        </div>
    </div>
</footer>
