<p>Hello World</p>
<%# <div class="grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5"> %>

<div class="grid gap-4">

</div>
asdf
<div data-controller="hello">
  <input type="text">
  <button>Greet</button>
  vdfvdfv
</div>